doctype html
html
  head
    title Childcarecenter
  body
    h1 Childcarecenter
    div.getchildcarecenter
      - var data = coordinateData ? coordinateData : multipolygonData ? multipolygonData : data
      table
        each value in data
            tr 
                td
                    a(href=`/getonedata/${value._id}`)=value.name
