
//- router.post('/saverecentdata', centerController.getRecentData);
//- router.get('/childcarecenterin', centerController.getNumberOfChildCareCenterIn);
//- router.get('/coordinates', centerController.getCenterInCoordinate);
//- router.get('/multipolygon', centerController.getCenterInMultiPolygon);
//- router.get('/getcenterdata', centerController.getAllData);
//- router.post('/addcenterdata', centerController.insertData);
//- router.patch('/updatecenterdata/:id', centerController.updateData);
//- router.delete('/deletecenterdata/:id', centerController.deleteData);



doctype html
html
  head
    title Childcarecenter
  body
    h1 Childcarecenter

    div.getrecentdata
      a(href='/saverecentdata') get recent data

    div.getchildcarecenter
     a(href='/getdata') getcenterdata
      //- ul.list-group
      //-   each value in data        
    div.addcenterdata
      a(href='/insertdata') incert centerData
      div.updatecenterdata
      a(href='/updatedata') update centerdata
    //- div.getchildcarecenter
    //-  a(href='/getcenterdata/') getcenterdata

    //-   input(type="text" name="" id="inputName" 
    //- class="form-control" placeholder="name" required autofocus)
    //- div.deletechildcarecenter
    //-   input(type="text" name="" id="inputName" 
    //- class="form-control" placeholder="name" required autofocus)
    //-   //- a(href='/childcarecenter/getcenterdata/') modifychildcarecenter
    //- div.updatecenterdata
    //-   input(type="text" name="update" id="inputupdate")
    //-   a(href='/childcarecenter/updatecenterdata/') updatecenterdata   
    //- div.deletecenterdata
    //-   input(type="text" name="delete" id="deletedate")
    //-   a(href='/childcarecenter/deletecenterdata/') deletetecenterdata
      

       

