
//- router.post('/saverecentdata', centerController.getRecentData);
//- router.get('/childcarecenterin', centerController.getNumberOfChildCareCenterIn);
//- router.get('/coordinates', centerController.getCenterInCoordinate);
//- router.get('/multipolygon', centerController.getCenterInMultiPolygon);
//- router.get('/getcenterdata', centerController.getAllData);
//- router.post('/addcenterdata', centerController.insertData);
//- router.patch('/updatecenterdata/:id', centerController.updateData);
//- router.delete('/deletecenterdata/:id', centerController.deleteData);

  //-  name: { type: String, required: true, index: true },
  //-   cellPhone: { type: String, required: true },
  //-   homePageUrl: String,
  //-   childrenCount: Number,
  //-   startAt: String,
  //-   use_naver_coord: { type: Boolean, required: true },
  //-   address: String,
  //-   lng: { type: Number, required: true },
  //-   lat: { type: Number, required: true },

doctype html
html
  head
    title Childcarecenter
  body
    h1 Childcarecenter
    div.getchildcarecenter
     a(href='/childcarecenter/getcenterdata/') getcenterdata
    div.addcenterdata
      label( for="input" class="sr-only") name
      input(type="text" name="username" id="inputEmail" 
    class="form-control" placeholder="name" required autofocus)